@media screen and (min-width: 500px) {

    #hamburger-btn {
        display: none;
    }

    nav {
        grid-column: 2;
        display:flex;
        justify-content: space-evenly;
    }

    nav a{
        display: inline-block;
        text-decoration: none;
        color: var(--accent2-color);
        padding: 1.2rem;
        font-family: var(--font-body);
        font-weight: bold;
    }
    
    nav a:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 5px;
    
    }
    .hero {
        position: relative;
    }
    .hero p {
        position: absolute;
        text-align: center;
        margin-top: 20%;
        margin-left: 5%;
        font-size: clamp(14px, 2vw, 22px);
        background-color: var(--secondary-color);
        color: var(--accent1-color);
        opacity: 0.9;
    }

    .map {
        display:grid;
        width: auto;
        grid-template-columns: 20% 80%;
        gap: 10px;
        padding: 10px 10px 0px 0px;
        font-size: clamp(14px, 2vw, 22px);
    }

    .president-mission {
        display:grid;
        width: auto;
        grid-template-columns: 80% 20%;
        gap: 10px;
        padding: 10px 10px 0px 0px;
        font-size: clamp(14px, 2vw, 22px);
    }

    .hero h3, .map h3, .president-mission h3 {
        grid-column: span 2;
        display: inline-block;
    }


    h2, h3 {
        font-size: clamp(14px, 2vw, 30px);
    }

    .hero p, .map p, .president-mission p {
        padding-right: 20px;
        margin-right: 40px;
    }

   .wards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));
    padding: 1rem;
    }

    .wards section {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin:8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    }
}
