@media screen and (min-width: 500px) {
    
    header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--accent1_color);
    color: white;
    font-family: var(--headfont);
    }

    header h1{
    padding-left: 1.2rem;
    padding-top: 1.2rem;
    }

    #hamburger-btn {
        display: none;
    }

    nav {
        grid-column: 2;
        display:flex;
        justify-content: space-evenly;
        background-color: var(--accent1_color);
    }

    nav a{
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 1.2rem;
        font-family: var(--bodyfont);
        font-weight: bold;
    }

    nav a:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 5px;
    
    }
    

    main {
        display: grid;
        grid-template-rows: auto auto;
    }
    main h2 {
        grid-row: 1;
        grid-column: 1;
        text-align: center;

    }

    .temples {
        max-width: 1200px;
        display:grid;
        grid-template-columns: repeat(3, 1fr);

    }

}